$navHeightPadding:50px;
$navHeight:44+ $navHeightPadding*2 +30 ;
$footerHeight : 60px;

#navbar
{
	position:fixed;
	top:0;
	
	width:100%;
	padding:$navHeightPadding 10px;
	background-color: rgba(217,3,3,1);
	transition:0.8s;
	&>a, #userSlide>a, #navRight>a {
		font-family:Roboto;
		transition:0.4s;
		padding:0px 30px;
		font-size: 2.3em;
		text-decoration: none;
		transition:0.4s;
		color:white;
		&:hover{
			opacity:1 !important;
			text-shadow: black 3px 3px 3px;
		}
	}
	& #navRight{
		display: inline;
		position:absolute;
		right:10px;
	}
}

.redBgForm{
	background-color:rgba(241,43,43,0.46);
	padding:30px;
	margin:20px;
	border-radius:3em;
}

.maincontent{
	margin-right:200px; 
}

input,textarea{
	border:white solid 1px;
	border-radius:10px;
	height:30px;
	color:white;
	background-color:#181a1b;
	transition:0.3s;
	font-weight:bold;
	padding-left:10px;
	&:focus{
		box-shadow: 0 0 2em red;
	}
}

.inputFileButton{
	cursor:pointer;
	border:white solid 2px;
	background-color:#181a1b;
	color:white;
	padding:20px;
	border-radius:10px;
	text-align: center;
	&:hover{

	}
}

#signUpForm,#signInForm,#newItemForm{
	width:500px;
	display:grid;
	& input{
		margin:15px;
	}
}

#signInForm{
	align-content:start;
	height:100%;
}


html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: Roboto;
	color:white;
	background-color:#181a1b;
}

#container {
   min-height:100%;
   position:relative;
   margin-top:$navHeight ;
}

#mainContent {
   padding:10px;
     
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:$footerHeight ;   
   background:black;
   color:white;
}

.container-flex{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*--- ERROR 404 ---*/

#title404{
	font-size:5em;
	color:red;
}

#message404{
	font-size:1.7em;
	& a{
		font-size:1.7em;
		color:#ff001a;
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-shadow: 0 0 10px #FB4242;              
		}
	}
}


#supportForm{
	width:1000px;
	display:grid;
	& input,textarea{
		margin:15px;
	}
	&textarea{
		width:100%;
		resize: none;
	}
}

#signUpError,#connectionError{
	color:red;
	padding:0.5em;
	border:red solid 4px;
	background-color:black;
	animation:blink 1.5s infinite;
}

@keyframes blink{
	0%,100%{opacity:0.4;}
	50%{opacity:1;}
}


$userNavLinks:4;
$anim-dur: 300ms;
$anim-delay: $anim-dur / $userNavLinks;
#userNav{
	display:none;
	position:absolute;
	z-index: 100;
	width:100%;
	right:10%;
	& a{
		& li{
			background-color:black;
			padding:10px;
			margin:5px;
			list-style-type: none;
			position:relative;
			animation: navLinks $anim-dur;
			animation-fill-mode: both;
			transition: background-color 0.4s;
			color:white;
			text-decoration:none;
			border:white 2px solid;
			cursor: pointer;
			&:hover{
				background-color:lightblue;
			}
		}
	    @for $i from 1 through $userNavLinks {
	        & #{#link+$i} {
	            animation-delay: $anim-delay * $i;
	         }
	    }
	}	
}

@keyframes navLinks{
	0%{transform: translateX(400px);}
	100%{transform: translateX(0);}
}

#userSlide{
	position: relative;
}

#userProfile{
	cursor: pointer;
}

.itemMiddlePic{
	height: 350px;
	transition: 0.5s;
	&:hover{
		transform: scale(1.5);
	}
}

.myItem{
	border:white 3px solid;
	padding:20px;
	& a{
		color:red;
	}
}

#profileInfo{
	display:flex;
	& h1{
		font-size: 3em;
	}
}
$avatarSize:200px;
.avatar{
	width:$avatarSize;
	height:$avatarSize;
	border-radius:$avatarSize/2;
}